
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.slide-show {
  position: relative;

  margin: auto;
  width: 107%;
 
  height: 400px;
justify-content: center;
  box-sizing: border-box;
}

.slide {
  background-color: white;
  width: 100%;
  overflow: hidden;

}

.image img {
  width: 1500px;
  object-fit: fill;
  height: 390px;
  
}
.expand{
  border: "5px solid";
}

.arrows {
  font-size: 3rem;

  color: white;
  cursor: pointer;
}

.left-arrow {
  position: absolute;
  top: 176px;
  left: 10px;
}

.right-arrow {
  position: absolute;
  top: 176px;
  right: 10px;
}
.spotlight{
  margin: auto auto 2.5rem; 
  font-weight: 600;
  width: max-content;
   text-transform: uppercase; 
   padding: 0px 5px;
   background: linear-gradient(180deg,transparent 60%,#ff9797 30px); 
   font-size: 24px; 
}
.slide {
    background-color: white;
    width: 100%;
    overflow: hidden;
  
  }
  
  .image img {
    width: 1500px;
    object-fit: fill;
    height: 390px;
    
  }
  .expand{
    border: "5px solid";
  }
  
  .arrows {
    font-size: 3rem;
  
    color: white;
    cursor: pointer;
  }
  
  .left-arrow {
    position: absolute;
    top: 176px;
    left: 10px;
  }
  
  .right-arrow {
    position: absolute;
    top: 176px;
    right: 10px;
  }
  .spotlight{
    margin: auto auto 2.5rem; 
    font-weight: 600;
    width: max-content;
     text-transform: uppercase; 
     padding: 0px 5px;
     background: linear-gradient(180deg,transparent 60%,#ff9797 30px); 
     font-size: 24px; 
  }
  